.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  padding: 2rem 2rem;
  gap: 1rem;
}

.compile-btn {
  background-color: black;
  color: white;
  box-shadow: none;
  border: none;
  border-radius: 4px;
  width: 8rem;
  height: 2rem;
}

.output {
  display: flex;
  flex-direction: column;
}

.output-row {
  display: flex;
  flex-direction: row;
}
